#
# Emacs daemon service unit
#
# You can copy this file to ~/.config/systemd/user/emacs.service. Then
# you can manage the service as usual with systemctl --user [enable|start|stop|...] emacs
#
# The file was originally found at http://blog.refu.co/?p=1296
#

[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(progn (setq kill-emacs-hook 'nil) (kill-emacs))"
Restart=always

# Remove the limit in startup timeout, since emacs
# cloning and building all packages can take time
TimeoutStartSec=0

[Install]
WantedBy=default.target